* {
    box-sizing: border-box;
}

body {
    background-color: #e2e2e2;
}

#wrapper {
    width: 80%;
    margin: auto;
}

h1,
h2 {
    text-align: center;
}

.question {
    font-weight: bold;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif
}

#xmltree {
    font-style: italic;
}

#boxexplanation {
    font-weight: bold;
}

#acronym {
    font-weight: bold;
}

#references {
    padding-left: 10px;
    border: 5px #000000 outset;
    width: 400px;
    margin: auto;
    margin-top: 50px;
}

.jssubheader {
    font-weight: bold;
}